[submodule "letta-discord-bot-example"]
	path = letta-discord-bot-example
	url = https://github.com/letta-ai/letta-discord-bot-example.git
[submodule "letta"]
	path = letta
	url = https://github.com/letta-ai/letta.git
